.ul-ref {
    width: 300px;
    background-color: peachpuff;
    opacity: 0.65;
}

.tree span:hover {
    font-weight: bold;
}

.books-list {
    background-color: aquamarine;
}

.light-hr {
    background-color: #ff0000;
    color: #ff0000;
    height: 1px;
}

.text-area {
    width: 100%;
    visibility: hidden;
}

TABLE {
    width: 300px;
    border-collapse: collapse;
}

TD,
TH {
    padding: 3px;
    border: 1px solid black;
}

TH {
    background: #b0e0e6;
}

.books-list,
.table-headers,
.tree span {
    cursor: pointer;
}