.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    height: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: blue;
    cursor: pointer;
}

.big-container {
    width: 500px;
    background-color: #FBF2E9;
}

.conatiner div {
    display: inline-block;
    margin: 15px;
    padding: 15px;
}

.container-main-pic img {
    width: 250px;
    height: 250px;
    position: relative;
}

.next,
.back {
    position: relative;
    bottom: 105px;
    height: 30px;
    cursor: pointer;
}

.back {
    visibility: hidden;
}

.block-text-p {
    background-color: #528CBA;
    outline: 1px black solid;
    margin: 0px;
    cursor: pointer;
    color: white;
}

.text-p {
    background-color: #B7DCEB;
    margin: 0px;
    padding: 0px;
    outline: 0.5px black solid;
}

.news-conatiner {
    width: 50%;
    height: 250px;
    overflow-y: scroll;
    background-color: #FBF2E9;
}